.pieChart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: auto;

  .chart-container {
    width: 800px;
    height: 500px;

    .pie-label {
      font-size: large !important;
    }
  }
}

@media (max-width: 768px) {
  .pieChart {
    font-size: 15px;

    .chart-container {
      width: 100%;
      height: 400px;
    }
  }
}
