<div
  *ngIf="((pieChartData$ | async) || []).length > 0; else loading"
  class="pieChart"
>
  <div class="pageTitle"><h2>Medals per Country</h2></div>

  <div class="joInfoContainer">
    <div class="joInfoContainer_info">
      <div class="joInfoContainer_info_title">Number of JOs</div>
      <div class="joInfoContainer_info_number">
        {{ (nbJO$ | async)?.length }}
      </div>
    </div>

    <div class="joInfoContainer_info">
      <div class="joInfoContainer_info_title">Number of countries</div>
      <div class="joInfoContainer_info_number">
        {{ (countries$ | async)?.length }}
      </div>
    </div>
  </div>

  <div class="chart-container">
    <ngx-charts-pie-chart
      [results]="pieChartData$ | async"
      [legend]="false"
      [labels]="showLabels"
      [explodeSlices]="explodeSlices"
      [doughnut]="doughnut"
      [animations]="true"
      (select)="onCountryClick($event)"
      class="pieChartComponent"
    >
      <ng-template #tooltipTemplate let-model="model" class="pieChartTooltip">
        <!-- <ng-template #tooltipTemplate #customTooltip let-model="model" class="pieChartTooltip"> -->
        <div class="tooltip tooltipTemplate">
          {{ model.name }}
          <br />
          🏅
          {{ model.value }}
        </div>
      </ng-template>
    </ngx-charts-pie-chart>
  </div>
</div>

<ng-template #loading>
  <p>Chargement en cours...</p>
</ng-template>
