.pieChart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: auto;

  .chart-container {
    width: 100%;
    height: 500px;

    ::ng-deep .pie-label {
      font-size: large;
    }
  }
}

@media (max-width: 768px) {
  .pieChart {
    font-size: 15px;

    .chart-container {
      width: 100%;
      height: 400px;
    }
  }
}

::ng-deep .ngx-charts-tooltip-content {
  background-color: #02838f !important;
  color: white !important;
  min-width: 100px !important;
  font-size: large !important;
}
::ng-deep .ngx-charts-tooltip-content .tooltip-caret {
  border-top-color: #02838f !important;
}
